---
layout: default
---

<div class="home">
  <div class="screen-full" id="home-screen-jonathankim">
    <img class="portrait-photo" src="{{ "/assets/home/portrait-photo.jpg" | relative_url }}" alt="portrait photo">
    <h1 class="page-intro">Developer. Designer. Philomath.</h1>
    <img id="scroll-indicator-down" src="{{ "/assets/home/scroll-indicator-down.svg" | relative_url }}" alt="Scroll indicator down">
  </div>

  <div class="screen-full" id="home-screen-developer">
    <div class="home-sample-container">
      <img class="sample" src="{{ "/assets/home/Google__G__Logo.svg" | relative_url }}" alt="Google logo">
      <img class="sample" src="{{ "/assets/home/Apple_logo_black.svg" | relative_url }}" alt="Apple logo">
      <img class="sample" src="{{ "/assets/home/TSG_Logo.svg" | relative_url }}" alt="The Simple Group logo">
    </div>
    <h1 class="page-intro">
      I'm a <a href="{{ "resume#experience" | relative_url}}"><strong>software engineer</strong></a> proficient at iOS, macOS, and web development.
    </h1>
    <div class="home-sample-container">
      <img class="sample" src="{{ "/assets/home/sunn-home-logo-gray-01.png" | relative_url }}" alt="Sunn logo">
      <img class="sample" src="{{ "/assets/home/DSP_Concepts_Logo.png" | relative_url }}" alt="DSP Concepts logo">
      <img class="sample" src="{{ "/assets/home/Cornell_University_seal.svg" | relative_url }}" alt="Cornell University logo">
    </div>
  </div>

  <div class="screen-full" id="home-screen-designer">
    <h1 class="page-intro">
      I'm a <a href="{{ "portfolio" | relative_url}}"><strong>UI designer</strong></a> experienced with wireframing, prototyping, and branding.
    </h1>
    <div class="home-sample-container">
        <img class="sample" src="{{ "/portfolio/2013/Sunn/portfolio-card.png" | relative_url }}" alt="Sunn wireframe">
        <img class="sample" src="{{ "/portfolio/2015/The-Simple-Group/portfolio-card.png" | relative_url }}" alt="The Simple Group website">
        <img class="sample" src="{{ "/portfolio/2013/Emmaus-Road/portfolio-card.png" | relative_url }}" alt="Emmaus Road logo">
    </div>
  </div>

  <div class="screen-full" id="home-screen-activities">
    <div class="home-sample-container">
      <img class="sample" src="{{ "/assets/home/activity-cello.png" | relative_url }}" alt="Cello">
      <img class="sample" src="{{ "/assets/home/activity-book.svg" | relative_url }}" alt="Book">
      <img class="sample" src="{{ "/assets/home/activity-food.svg" | relative_url }}" alt="Food">
    </div>
    <h1 class="page-intro">
      My <a href="{{ "resume#activities" | relative_url}}"><strong>hobbies</strong></a> include cello, books, food, soccer, badminton, and gaming.
    </h1>
    <div class="home-sample-container">
      <img class="sample" src="{{ "/assets/home/activity-soccer.svg" | relative_url }}" alt="Soccer">
      <img class="sample" src="{{ "/assets/home/activity-badminton.svg" | relative_url }}" alt="Badminton">
      <img class="sample" src="{{ "/assets/home/activity-overwatch.png" | relative_url }}" alt="Gaming">
    </div>
  </div>

</div>

<!-- https://greensock.com/gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js" type="text/javascript"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js" type="text/javascript"></script> -->

<!-- https://github.com/janpaepke/ScrollMagic -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js" type="text/javascript"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js" type="text/javascript"></script> -->

<script type="text/javascript">
  var controller = new ScrollMagic.Controller();

  // Jonathan Kim Scene
  new ScrollMagic.Scene({
    triggerElement: "#home-screen-jonathankim",
    // triggerHook: "onEnter",
    duration: "80%",
  })
  // .addIndicators()
  .setClassToggle("body", "color-inverted")
  .addTo(controller);

  // Developer Scene
  var developerTween = TweenMax.staggerFrom("#home-screen-developer .sample", 0.3, {
    cycle: {
      x: [-20, 0, 20, -20, 0, 20],
      y: [-20, -20, -20, 20, 20, 20]
    },
    opacity: 0
  }, 0);
  new ScrollMagic.Scene({
    triggerElement: "#home-screen-developer .page-intro",
    duration: 0,
    offset: 0,
  })
  .setTween(developerTween)
  .addTo(controller);

  // Designer Background Scene
  new ScrollMagic.Scene({
    triggerElement: "#home-screen-designer",
    duration: "100%",
  })
  .setClassToggle("body", "color-brand")
  .addTo(controller);

  // Designer Scene
  var designerTween = TweenMax.staggerFrom("#home-screen-designer .sample", 0.3, {
    cycle: {
      x: [-20, 0, 20],
      y: [20, 20, 20]
    },
    opacity: 0
  }, 0);
  new ScrollMagic.Scene({
    triggerElement: "#home-screen-designer .page-intro",
    duration: 0,
    offset: 0,
  })
  .setTween(designerTween)
  .addTo(controller);

    // Activities Scene
    var activitiesTween = TweenMax.staggerFrom("#home-screen-activities .sample", 0.3, {
    cycle: {
      x: [-20, 0, 20, -20, 0, 20],
      y: [-20, -20, -20, 20, 20, 20]
    },
    opacity: 0
  }, 0);
  new ScrollMagic.Scene({
    triggerElement: "#home-screen-activities .page-intro",
    duration: 0,
    offset: 0,
  })
  .setTween(activitiesTween)
  .addTo(controller);
</script>