---
layout: default
---
<div class="portfolios">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  <div class="portfolio-col-wrapper">
    {% for portfolio in site.portfolio reversed %}
    <div class="portfolio-col portfolio-col-6">
      {% include portfolio-card.html portfolio=portfolio %}
    </div>
    {% endfor %}
  </div>

</div>

<!-- Add load in animation on scroll. https://github.com/jlmakes/scrollreveal -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js" type="text/javascript"></script>
<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal('.portfolio-card', {duration: 500, mobile: false}, 100);
</script>