---
layout: default
---
<article class="portfolio" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="page-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.categories.size > 0 %}
      <span itemprop="name">&nbsp;&nbsp;•&nbsp;&nbsp;{{ page.categories | join: " | " }}</span>
      {% endif %}
    </p>
  </header>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>